* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.music-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#c8d1f0, #DFE7FC);
    position: relative;
}
.music-container__form{
    width: 330px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 0 1px #888;
    background-color: white;
    text-align: center;

}
.music-container__form__img{
    width: 100%;
    height: 160px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 0 1px #888;

}
.music-container__form__titles{
    font-weight: bold;
}
.music-container__form__des{
    padding: 0 30px;
    color: #888;

}
.music-container__form__content{
    display: flex;
    align-items: center;
    background-color:#F8F9FD;
    padding: 12px 24px;
    margin: 0 30px;

}
.music-container__form__content__icon{
    background-color: #E0E5FA;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.music-container__form__content__des{
    margin-left: 10px;
}
.music-container__form__content__des-titles{
    font-weight: bold;
    font-size: 16px;

}
.music-container__form__content__des-number{
    color: #888;
}
.music-container__form__content__link{
    font-size: 14px;
    color: blue;
    margin-left: 42px;
}
.music-container__form__content__button-agree{
    margin-top: 20px;
    background-color: blue;
    padding: 12px 80px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 12px 14px rgb(210, 210, 252);
}
.music-container__form__content__button-cancel{
    margin-top: 24px;
    font-size: 15px;
}

.login-container{
    position: relative;
    width: 100%; height:100vh;
}

.login-container__formLogin__form{
    width: 360px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 0 1px #888;
    background-color: white;
    padding: 20px 20px;
}
.login-container__formLogin__titles{
    padding: 0;
    margin: 0;
}
.login-container__formLogin__google{
    display: flex;
    margin-top: 16px;
    border: 1px solid #888;
    border-radius: 6px;
    justify-content: center;
    font-weight: 600;
    padding: 6px 6px;
    font-size: 17px;
    cursor: pointer;
}
.login-container__formLogin__google__text{
    padding-left: 12px;
}
.login-container__formLogin__border{
    border: .2px solid rgb(219, 219, 219);
    border-width: 100%;
    margin: 26px 0 12px 0;
}

.form-group__input {
    position: relative;
}

.text {
    font-weight: bold;
    display: block;
    padding: 12px 0;
    font-size: 17px;
}
.form-control{
    width: 100%;
    padding: 8px 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #888;
    outline: none;
}

.login-container__formLogin__input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.login-container__formLogin__input-icon--open {
    display: none;
}

.login-container__formLogin__input-icon.login-container__formLogin__input-icon--active .login-container__formLogin__input-icon--open{
    display: block;
}

.login-container__formLogin__input-icon.login-container__formLogin__input-icon--active .login-container__formLogin__input-icon--close{
    display: none;
}

.login-container__formLogin__important{
    display: flex;
    margin-top: 12px;
    align-items: center;
}
.login-container__formLogin__important-checkbox{
    height: 18px;
    width: 18px;
}

.login-container__formLogin__button{
    background-color: #0280F7;
    color: white;
    padding: 10px 4px;
    margin-top: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}
.login-container__formLogin__forget{
    text-align: center;
    padding-top: 8px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #6bbcee;
}
.login-container__formLogin__border{

}
.login-container__formLogin__dnthave{
    margin: 16px 0 12px 0;
    text-align: center;
}
.login-container__formLogin__signup{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #6bbcee;
    font-weight: bold;
}